body{
  background-image: url("image/art.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  width: 1260;
  padding: 0 250 0 0;
}

@font-face {
  font-family: Balsamiq SansBoldItalic;
  src: url(fonts/BalsamiqSansBoldItalic.ttf);

}

@font-face {
  font-family: Balsamiq Sans;
  src: url(fonts/BalsamiqSansRegular.ttf);
}

h1{
  text-align: center;
  font-family: Balsamiq SansBoldItalic, sans-serif;
  font-size: 73px;
  position:absolute;
  top: 38;
  left: 570;
  color: rgb(1, 1, 1);
  padding: 50 500 0 0;
  -webkit-animation-name: change-color;
  -webkit-animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change-color;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

@-webkit-keyframes change-color{
  0%  {color: rgba(215, 40, 23, 0.66);}
  15%  {color rgba(196, 121, 21, 0.76);}
  30%  {color: rgba(227, 220, 49, 0.82);}
  45%  {color: rgba(158, 224, 66, 0.76);}
  60%  {color: rgba(40, 167, 214, 0.89);}
  75%  {color: rgba(28, 41, 209, 0.79);}
  90%  {color: rgba(84, 44, 134, 0.88);}
  100%  {color: rgba(134, 9, 88, 0.84);}
}

@keyframes change-color {
  0%  {color: rgba(215, 40, 23, 0.66);}
  15%  {color rgba(196, 121, 21, 0.76);}
  30%  {color: rgba(227, 220, 49, 0.82);}
  45%  {color: rgba(158, 224, 66, 0.76);}
  60%  {color: rgba(40, 167, 214, 0.89);}
  75%  {color: rgba(28, 41, 209, 0.79);}
  90%  {color: rgba(84, 44, 134, 0.88);}
  100%  {color: rgba(134, 9, 88, 0.84);}
}

.headerBG{
  padding: 30px 0 0 300px;
  width: 1330px;
  height: 750px;
}

ul{
  position: absolute;
  top: 500;
  left: 300;
}

li{
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 18px;
  font-family: Balsamiq Sans, sans-serif;
  width: 120px;
  height: 60px;
  padding: 25 30 0 30;
  margin: 0 50 0 50;
  background-color: rgb(39, 11, 64);
  border-radius: 100px / 50px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 20 20 12px transparent;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

li:hover, li:focus, li:active {
  color: black;
  background-color: rgb(191, 209, 46);
  box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

#bt1{
  position: relative;
  bottom: 190;
  right: 30;
}

#bt2{
  position: relative;
  bottom: 60;
  right: 70;
}

#bt3{
  position: relative;
  top: 30;
  right: 80;
}

#bt4{
  position: relative;
  bottom: 70;
  right: 80;
}

#bt5{
  position: relative;
  bottom: 190;
  right: 100;
}

.contentBG{
  z-index: 1;
  position: absolute;
  top: 860;
  left: 100;
  margin: 50 0 0 110;
  width: 1530px;
  height: 950px;
}

h3{
  z-index: 2;
  color: white;
  font-family: Balsamiq Sans;
  font-size: 26px;
  word-spacing: 6px;
  letter-spacing: 2px;
  position: relative;
  top: 100;
  left: 550;
  margin-left: 0;
  padding: 0 60 0 0;
}

.contentImg1{
  z-index: 2;
  position: relative;
  width: 200;
  height: 200;
  margin: 120 0 0 670;
}

.contentImg2{
  z-index: 2;
  position: relative;
  bottom: 90;
  left: 1030;
  width: 200;
  height: 200;
}

.contentImg3{
  z-index: 2;
  position: relative;
  width: 350;
  height: 250;
  top: 100;
  margin: 0 0 0 160;
}

.contentImg4{
  z-index: 2;
  position: relative;
  top: 50;
  left: 1200;
  width: 400;
  height: 270;
}


#button {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

#button:hover{
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}


footer{
  position: relative;
  top: 90;
  left: 810;
  color: white;
  font-size: 26px;
  font-family: Balsamiq Sans;
}
